body5 {
    display: flex;
    position: absolute; 
    top: 10; 
   left: 0px;
    height: 100vh;
    background-color: transparent;
    margin: 10px;
    font-family: "Gill Sans Extrabold", sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 10px;
}



.container4 {
    z-index: 1;
    text-align: center;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h7 {
    margin-top: 20px;
}