body9 {
    margin: 0;
    height: 50vh;
    display: flex;
    position: absolute; 
     top: 0; 
    right: 0;
    padding: 20px;
    background-color: transparent;
    color: white;
    font-family: Arial, sans-serif;
}

.container9 {
    text-align: center;
}

.moon-phase {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin: 20px auto;
    clip-path: circle(50% at 50% 50%);
}

.new-moon {
    background-color: black;
}

.first-quarter {
    background: linear-gradient(to right, black 50%, white 50%);
}

.full-moon {
    background-color: white;
}

.last-quarter {
    background: linear-gradient(to left, black 50%, white 50%);
}