#quote {
    position: absolute;
    z-index: 9;
    background-color: #b1fffa;
    text-align: center;
    border: 1px solid #d3d3d3;
    width: 450px;
    font-family: ui-monospace;
  }
  
  #mydivheader2 {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #ffffff;
    color: #000000;
    font-family: ui-monospace;
  }

.container2 {
    width: 450px;
    text-align: center;
    background: rgb(184, 241, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


blockquote {
    font-size: 1.2em;
    margin: 20px 0;
    color: #000000;
}