* {
    box-sizing: border-box;


body {
    margin: 10;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/910411/pexels-photo-910411.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.top-right-corner {
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 20px;
}


/* Button styles */
button3 {
    
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

button3:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Responsive styles */
@media (max-width: 600px) {

    button3 {
        padding: 8px 16px;
        font-size: 0.9em;

    }
}

}

