
.corner {
    display: flex;
    position: absolute; 
    top: 200; 
    right: 0; 
    padding: 20px;
}

.pulse-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    animation: pulse 1.5s infinite;
    position: absolute; 
    top: 80px; 
   right: 65px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}